.DS_store
.history

node_modules

.codex
.codebuddy
.workbuddy
.cursor
.claude

# git features
.mailmap

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.turbo
.output

# build artifacts
dist/
dist-types/
package/

yarn.lock
pnpm-lock.yaml
package-lock.json
